.tabs {
    margin-bottom: -1px !important;
    position: relative;
    }
    .tab-pane {
    display: none;
    }
    .tab-pane.is-active {
    display: block;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    }
    .is-active {
    display: initial;
    }
    
    .cent{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc}
    
    .video
    {display: block;
    margin: 0 auto;}
    
    /* CSS from http://embedresponsively.com */
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .menuFlex{
        display: flex;
        justify-content: center;
        margin-top: 130px;
        margin-bottom: 130px;
        justify-content: space-around;
        border-bottom: 10px solid black;
        padding: 130px;
    }
    .menuItem{
        background-color: pink;
        width: 400px;
        height: 150px;
    }
    .restaurant-name {
        text-align: center;
        font-size: 25px;
    }
    .main-navbar {
        background-color: #aa5440;
    }
    .order-buttons {
        display: inline-block;
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
    }
    .seat-number {
        border: 1px solid #83BCA9;
        background-color: #83BCA9;
        padding:15px 15px;
        font-size: 15px;
    }
    .order-total {
        margin-top: 5px;
        border: 1px solid #83BCA9;
        background-color: #83BCA9 ;
        padding:15px 15px;
        font-size: 15px;
    }
    .navbar-item.navbar-center {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        background-color: #aa5440;
    }
    .navbar-item, .navbar {
        background-color: #aa5440;
    }
    .res-name {
        font-size: 60px;
        color: #E6764A;
        font-family: 'Caveat', cursive;
        text-align: center;
        letter-spacing: 4px;
        margin-left: 85px;
    }
    .no-hover{
        pointer-events: none;
    }
    .spaceTab{
        padding-top: 50px;
    }
    .totalDiv{
        background-color: white;
    }
    #color{
        color: Pink;
    }