.optionsBody{
    background-color: rgba(0, 0, 0, 0.9);
    max-height: 3000px;
    max-width: 100%;
    height: 3000px;
}
.NavBar{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 200px;
    background-color: lightblue;
}
.chosenItem{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: grey;
    font-size: 90px;
}
.sideBarLeft{
    background-color: black;
    max-width: 50px;
    max-height: 100%;
    width: 10px;
    height: 800px;
}
.menuOption{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    color:white;
}
.center{
    justify-content: center;
}
.optionsContainer{
    max-height: 100%;
    height: 800px;
}
.buttonClass{
    justify-content: center;
    
}